//@import 'normalize';
@import 'compass';
@import 'susy';

nav { @include span(25%); }
main { @include span(75%); }

$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

.container {
    @include clearfix; 
}

.sidebar {
  @include span(1);
}

h1 {
    font-family: "Times New Roman", Times, serif;
	font-size: 40px;
}

.ag1 {
  @include span(2 of 10);
}

.ag2 {
  @include span(6 of 10);
  @include clearfix; 
}

.ag3 {
  @include span(2 of 10 last);
}



.ag4 {
  @include span(3 of 6);
}

.ag5 {
  @include span(3 of 6 last);
}

.ag4,.ag5 {
  @include span(3 of 6);
}
.ag5 {
  @include last;
}



.ag6 {
  @include span(3 of 6);
}

.ag7 {
  @include span(3 of 6 last);
}

.ag6,.ag7 {
  @include span(3 of 6);
}
.ag7 {
  @include last;
}



.ag8 {
  @include span(3 of 6);
}

.ag9 {
  @include span(3 of 6 last);
}

.ag10 {
  clear: both;
}




/**
 * Styles for AG grids & Container
 */

.container {
  background-color: #fbeecb;
}

.ag1, .ag3 {
  background-color: #71dad2;
}

.ag2 {
  background-color: #fae7b3;
}

.ag4,.ag5,.ag8,.ag9 {
  background-color: #ee9e9c;
}

.ag6 {
  background-color: #f09671;
}

.ag7 {
  background-color: #f6d784;
}

.ag10 {
  background-color: #ea9fc3;
}


/**
 * Text Styles
 */
h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}
