<html ng-app="myApp">
	<head>
		<link href="css/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="css/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
		<!--[if IE]>
			<link href="test/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
		<link href="css/stylesheets/processaction.css" rel="stylesheet" type="text/css" />

		<script src="http://underscorejs.org/underscore.js"></script>
		<script src="http://backbonejs.org/backbone.js"></script>
		<link rel="stylesheet" href="joint.css" />
		<script src="js/joint.js"></script>

	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	    <script src="js/main.js"></script>
	</head>
	<body class="container">

		<div class="processlist" ng-controller="actionController">
			<div>{{actionName}}: {{actionState}}</div>
			<button ng-click="start()">Start</button>
			<button>Suspend</button>
			<button ng-click="finish()">Finish</button>
			<button>Abort</button>
		</div>

		<div class="nav">Navigation bar</div>
		<div class="ag ag1"><div>
	      <input type="text" ng-model="yourName" placeholder="Enter a name here">
	      <h1>Hello, {{ yourName }}!</h1>
	    </div>
	</body>
</html>
