/* line 5, ../sass/mick.scss */
nav {
  width: 25%;
  float: left;
  margin-right: 5.26316%;
}

/* line 6, ../sass/mick.scss */
main {
  width: 75%;
  float: left;
  margin-right: 5.26316%;
}

/* line 16, ../sass/mick.scss */
.container {
  overflow: hidden;
  *zoom: 1;
}

/* line 20, ../sass/mick.scss */
.ag1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: right;
  padding-right: 1%;
  padding-left: 1%;
}

/* line 23, ../sass/mick.scss */
.ag2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  float: right;
  padding-right: 1%;
  padding-left: 1%;
  overflow: hidden;
  *zoom: 1;
}

/* line 27, ../sass/mick.scss */
.ag3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
  padding-right: 1%;
  padding-left: 1%;
}

/**
 * Styles for AG grids & Container
 */
/* line 35, ../sass/mick.scss */
.container {
  background-color: #fbeecb;
}

/* line 39, ../sass/mick.scss */
.ag1, .ag3 {
  background-color: #71dad2;
}

/* line 43, ../sass/mick.scss */
.ag2 {
  background-color: #fae7b3;
}

/* line 47, ../sass/mick.scss */
.ag4, .ag5, .ag8, .ag9 {
  background-color: #ee9e9c;
}

/* line 51, ../sass/mick.scss */
.ag6 {
  background-color: #f09671;
}

/* line 55, ../sass/mick.scss */
.ag7 {
  background-color: #f6d784;
}

/* line 59, ../sass/mick.scss */
.ag10 {
  background-color: #ea9fc3;
}

/**
 * Text Styles
 */
/* line 66, ../sass/mick.scss */
h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}
