@import 'normalize';
@import 'compass';
@import 'susy';

nav { @include span(25%); }
main { @include span(75%); }

$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true),
  //gutter: 0
);

@include border-box-sizing;

.container {
  margin-left: span(1 of 10);
  margin-right: span(1 of 10);
  padding: span(1 of 20);
}

.pathwaycontainer {
  @include container;
  @include clearfix; 
}

.pathwaycontainer .ag1 {
  margin-bottom: 0.5em;
}

.pathway {
  padding-left: span(1 of 50);
  padding-right: span(1 of 50);
  padding-bottom: span(1 of 200);
  padding-top: span(1 of 200);
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  //margin-bottom: 2em;
}

.pathway.name {
  font-size: 1.2em;
}

.pathway.ag1{
  @include span(3 of 10);
  @include clearfix;
}
.pathway.ag2 {
  @include span(7 of 10 last);
  @include clearfix;
}

.fullrow {
  @include span(10 of 10);
}

/**
 * Styles for AG grids & Container
 */

.subtitle {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: span(1 of 50);
}

.container {
  background-color: #fbeecb;
}

.pathwaycontainer {
  background-color: #fedf98;
  border: solid gray 1px;
}

.graph {
  margin-left: 0;
  margin-right: 0;
}

.graph.action {
  background-color: #eeeeee;
  border: solid black 1px;
  margin-bottom: 1em;
}

.selected {
  background-color: #ffaaff;
}

.fullrow {
  padding-top: span(1 of 40);
  padding-bottom: span(1 of 40);
}

/**
 * Text Styles
 */


h1 {
	text-align: center;
  //font-family: "Arial", Arial, serif;
	font-size: 2em;
}
  
h2 {
	text-align: center;
	font-size: 1rem;
	font-weight: normal;
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
}