@import 'compass';
@import 'susy';

nav { @include span(25%); }
main { @include span(75%); }

$susy: (
  columns: 3,
  gutter-position: inside,
  math: fluid,
  output: float,
  flow: ltr,
);

.action.ag1 {
	@include gutter();
}

.action.ag2 {
	@include span(5 of 10);
}

/*
Styles for AG grids and container
*/

.action.ag1, .action.ag3 {
  background-color: #71dad2;
}

.action.ag2 {
  background-color: #fae7b3;
}
