<html ng-app="popupApp">
        <head>
                <link href="/openemr/pathway_support/css/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
                <link href="/openemr/pathway_support/css/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
                <!--[if IE]>
                        <link href="test/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
                <![endif]-->
                <link href="/openemr/pathway_support/css/stylesheets/processaction.css" rel="stylesheet" type="text/css" />

                <link href="/openemr/pathway_support/css/stylesheets/pathways.css" rel="stylesheet" type="text/css" />
                <link href="/openemr/pathway_support/css/stylesheets/joint.css" rel="stylesheet" />

                <link href="/openemr/pathway_support/css/stylesheets/popup.css" rel="stylesheet" type="text/css" />
                <script src="http://code.jquery.com/jquery-2.1.3.js"></script>

                <script src="/openemr/library/js/jquery-2.1.3.min.js"></script>
                <script src="http://underscorejs.org/underscore.js"></script>
                <script src="http://backbonejs.org/backbone.js"></script>
                <script src="/openemr/pathway_support/js/joint.js"></script>

                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
                <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.js"></script>
                <script src="pathwaycontroller.js"></script>
                <script src="../actions/actionsDirective.js"></script>

                <script src="popup.js"></script>
        </head>
<body>
<div ng-controller="pathwaycontroller">
        <div class="container pathway">
                <h1>Pathway Support</h1>
                <p>Active patient id: {{active_pid}}</p>
                
                <div ng-repeat="pathway in pathways track by $index">
                        <div class="pathwaycontainer">
                                <div class="pathway ag1" ng-click="selectpathway($index)">{{pathway["@model"]}}</div>
                                <div class="pathway ag2">
                                        <button ng-click="deletepathway(pathway)">X</button>
                                </div>
                                <div class="pathway ag3">
                                        <button ng-click="opengraph(pathway)">Graph</button>
                                </div>
                        </div>
                </div>
                <div>
                        <button ng-click="createpathway()">+</button>
                </div>
        </div>

        <div class="container" ng-controller="actionController" ng-show="selectedPathway != -1">
                <!--h1 align="center">Action Popup</h1-->

                <div class="ag ag1">
                  <!--h2>Action</h2-->
                        <li ng-controller = "actionController" ng-repeat = "action in pathways[selectedPathway]['action']" class = "{{ action['@state'] }}">
                                <div class="expanded" ng-show = "visible">
                                                <div>State: {{ action["@state"] }}</div>
                                                <br>
                                                <div>Required resources: {{ action.req_resource["@name"] }}</div>
                                                <br>
                                                <!--div>Provided resources: {{ actionList.provided_resources }}</div-->
                                                <br>

                                                <actionbuttons action="action"></actionbuttons>

                                                <div><button ng-click="expand()" >Collapse</button></div>
                                </div>
                                <div class="collapsed" ng-hide = "visible">
                                        {{ action["@name"] }} 
                                        <div><button ng-click="expand()" >Expand</button></div>
                                </div>
                        </li>

                </div>
                <!-- /ag1 -->

                <!--script>
                        function actionController($scope) {
                            /*$scope.state= "Ready";
                            $scope.required_resource= "Doe";*/
                            $scope.actionList = {State:"Ready", required_resources:"patient_record: 001671458.hl7", provided_resources:"patient_symptoms:001671458.spt"};
                        }
                </script-->

        </div>
</div>
</body>
</html> 