/* line 5, ../sass/popup.scss */
nav {
  width: 25%;
  float: left;
  margin-right: 5.26316%;
}

/* line 6, ../sass/popup.scss */
main {
  width: 75%;
  float: left;
  margin-right: 5.26316%;
}

/* line 13, ../sass/popup.scss */
.container {
  overflow: hidden;
  *zoom: 1;
}

/* line 17, ../sass/popup.scss */
.sidebar {
  width: 21.05263%;
  float: left;
  margin-right: 5.26316%;
}

/* line 21, ../sass/popup.scss */
.popup .ag1 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 27, ../sass/popup.scss */
.popup .action {
  border-style: solid;
  border-width: 1px;
}

/* line 32, ../sass/popup.scss */
.popup button {
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* line 39, ../sass/popup.scss */
.READY {
  background-color: #00FF00;
}

/* line 45, ../sass/popup.scss */
.BLOCKED {
  background-color: #FF0000;
}

/* line 51, ../sass/popup.scss */
.NONE {
  background-color: #FFFFFF;
}

/**
 * Styles for AG grids & Container
 */
/*.container {
  background-color: #fbeecb;
}

.ag1, .ag3 {
  background-color: #71dad2;
}


.ag2 {
  background-color: #fae7b3;
}

.ag4,.ag5,.ag8,.ag9 {
  background-color: #ee9e9c;
}

.ag6 {
  background-color: #f09671;
}

.ag7 {
  background-color: #f6d784;
}

.ag10 {
  background-color: #ea9fc3;
}*/
/**
 * Text Styles
 */
/* line 96, ../sass/popup.scss */
h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}
